{% extends "sitebase.html" %}

{% block title %}
Create A Story
{% endblock %}


<!-- tells user to input a title, an intro entry, and tags -->
{% block body %}
<form action = "/createstory" method = "GET" id = "create">
  Title<br>
  <input type = "text" name = "storytitle"> <br>
  Entry<br>
  <textarea rows = "10" columns="100" form="create" name="entry"></textarea><br>
  Tags<br>
  <input type="text" name = "tags"><br>
  <input type = "submit" name = "Submit">
</form>
{% set msg = get_flashed_messages() %}
{% for each in msg %}
{{each}}
{% endfor %}
{% endblock %}
