{% extends "sitebase.html" %}


{% block title %}
Home
{% endblock %}

<!--if you already added to a story, flash an error -->
{% block head %}
{{super()}}<br>
<font color="red"><b>{% set msg = get_flashed_messages() %}
{% for each in msg %}
  {{each}}
  <br><br>
{% endfor %}</b></font>
{% endblock %}

<!--shows the whole story for the ones you edited -->
{% block body %}
{% for story in stories %}
<b>{{story}}</b><br>
{%for entry in stories[story]%}
{{entry}}<br>
{%endfor%}
<br><hr>
{%endfor%}
{% endblock %}
