{% extends "sitebase.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
{%for story in stories%}
<b>{{story}}</b><br>
{%for entry in stories[story]%}
{{entry}}<br>
{%endfor%}
<br><br>
{%endfor%}
<form action = "/create">  <input type="submit" value = "Create"> </form>
<form action = "/add">  <input type ="submit" value = "Add"></form>


<!--shows the whole story for the ones you edited -->
{% endblock %}

{% block heading %}
<!-- probably empty unless story title here -->
{% endblock %}
