<!--
SoftEggs
Daniel Gelfand
T Fabiha
Britni Canale
Dennis Chen
pd6
-->


{% extends "sitebase.html" %}


{% block title %}
Home
{% endblock %}

{% set title = "Home" %}
<!--if you already added to a story, flash an error -->
{% block head %}
  {{super()}}<br>
  <font color="red"><b>
    {% set msg = get_flashed_messages() %}
    {% for each in msg %}
      {{each}}
      <br><hr><br>
    {% endfor %}</b></font>
{% endblock %}

<!--shows the links of stories you edited -->
{% block body %}
{% for story in links %}
  <a href = {{links[story]}}><h2> {{story}} </h2></a>
  <hr>
  Tags:
  {% for tag in storytags[story] %}
    {{tag}}
  {% endfor %}<hr>
{% endfor %}
{% endblock %}
