<!--
SoftEggs
Daniel Gelfand
T Fabiha
Britni Canale
Dennis Chen
pd6
-->

{% extends "base.html" %}


{% block head %}
<h1> Login </h1>
{% endblock %}


{% block title %}
Login
{% endblock %}


 <!-- username and password input box w/ submit button -->
{% block body %}
 <form action = "/auth" method = "POST">
   Username : <input type = "type" name = "username"> <br>
   Password : <input type = "password" name = "password">
   <input type = "submit" name = "Login">
 </form>
 <font color = "red">
 {% set msg = get_flashed_messages() %}
 {% for each in msg %}
 {{each}}
 {% endfor %}</font>
 <br><hr>
 <!-- link to register -->
 <a href = "/register"> Not Registered Yet? </a>
{% endblock %}
