{% extends "base.html" %}

{% block head %}
<!-- only formatting probably -->
<h1> Login </h1>
{% endblock %}

{% block title %}
<!-- title of the website -->
Login
{% endblock %}

{% block body %}
<!--where the form for user and pw is going to be,
 also submit and register-->
 <form action = "/auth" method = "POST">
   Username : <input type = "type" name = "username"> <br>
   Password : <input type = "password" name = "password">
   <input type = "submit" name = "Login">
 </form>
 {% set msg = get_flashed_messages() %} {# if wrong username or pw inputted, flash the error message #}
 {% for each in msg %}
 {{each}}
 {% endfor %}
 <br>
 <a href = "/register"> Not Registered Yet? </a>
{% endblock %}

{% block heading %}
<!--empty!-->
{% endblock %}
