<!--
SoftEggs
Daniel Gelfand
T Fabiha
Britni Canale
Dennis Chen
pd6
-->

{% extends "base.html" %}


{% block head %}
<h1> Register </h1>
{% endblock %}


{% block title %}
Register
{% endblock %}


<!-- username, pw, and confirm pw boxes and register button-->
{% block body %}
Username must be 4 characters or more<br><br>
<form action = "/authR" method = "POST">
  Username : <input type = "type" name = "username"> <br>
  Password : <input type = "password" name = "password"><br>
  Confirm Password : <input type = "password" name = "confirmpw">
  <input type = "submit" name = "Register">
</form>
<font color = 'red'>
{% set msg = get_flashed_messages() %}
{% for each in msg %}
{{each}}
{% endfor %}
<br><br></font>
<!-- link to login -->
<a href = "/login"> Back to Login </a>
{% endblock %}
